body {
  background-color: #3e626895;
}

html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 4.5em;

}

.snap-stop {
  scroll-snap-align: start;
}

main {
  background-color: rgb(245, 245, 245)
}